# Виртуальное окружение
venv/
.venv/
env/

# База данных (встроенная SQLite)
*.sqlite3

# Кэш Python (служебные файлы компиляции)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки среды разработки (PyCharm, VS Code)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Секретные файлы конфигурации (если используете .env)
.env
